table {
    border: 1px solid #69c;
    border-collapse: collapse;
    color: #039;
    background-color: LightCyan;
    padding: 10px;
    margin: 20px;
    
}

table th {
    border-bottom: 1px dashed #69c;
    padding: 10px;
}

td {
    padding: 5px;
}
td:last-child {
    text-align: right;
}